.card-collector {
  margin-top: 102px;
  margin-bottom: 102px;
  .new {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    h2 {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #0f6799;
    }
  }
  .cards-c {
    display: flex;
    justify-self: space-between;
    gap: 25px;
    flex-wrap: wrap;
  }
  .card {
    height: 380px;
    img {
      height: 250px;
      object-fit: contain;
    }
    .card-title{
        height: 50px;
        overflow: hidden;
    }
  }
}
.seemore-btn{
    margin:auto;
}
