.container-fluid {
  background-color: #033551 !important;
  height: 80px;
  .nav-items {
    display: flex;

    margin: auto;
    .navbar-brand {
      color: white;
    }
    .searchbar {
      height: 50px;
    }
  }
}
